<ion-content>
  <div class="fondo">
  <ion-card>
    <img src="../../../assets/img/duoc.png" alt="ta mala" class="imagen_login" />
    <ion-card-header>
      <ion-card-title>Momento Duoc</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle class="tit">INGRESAR</ion-card-subtitle>
      <ion-item>
        <ion-label>Usuario</ion-label>
        <ion-input type="text" TRIM placeholder="Correo institucional" [(ngModel)]="user"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-input type="password" placeholder="*********" TRIM [(ngModel)]="password"></ion-input>
      </ion-item>
      <a href='/recuperar' class="recu">¿Olvidaste tu contraseña?</a>
      <ion-button class="log" color="success" (click)="login()">Iniciar sesión</ion-button>
      <ion-button class="reg" color="secondary" href='/registrar'>Registrarse</ion-button>
    </ion-card-content>
  </ion-card>

  </div>
</ion-content>
